body {
    color:black;
    text-align: left;
    font-family: "Arial";
    background: #000000d1;
}
#cabecera {
    background-color: rgb(62 75 193 / 90%);
    box-shadow: -9px 11px 16px -1px rgb(62 75 193 / 90%);
    color: floralwhite;
    margin: 15;
    padding: 0,5em;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    height: 45px;
    align-items: center;
}
#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: small;
}
#container {
    width: 90%;
    padding: 1em;
    text-align: left;
    border: 1px solid black;
    margin: 65px auto;
    color: black;
    background: white;
}

#footer {
    text-align: center;
    background: rgb(62 75 193 / 90%);
    padding: 10px;

}
#container h1 {
    font-size: 20px;
}
#post {
    padding: 1em
}
#logo {
    width: 30px;
    height: 35px;
    padding: 15px;
}
